.boardcard__container{
    margin: 25px;
    background-color: #f1f1f1;
    height: 200px;
    min-width: 220px;
    border-radius: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}; 

.boardcard__pins{
    font-size: 11px;
    font-weight: 400;
    color: #464646;
}

.boardCard__title{
    font-size: 18px;
    font-weight: 500;
}

.boardCard__pins{
    font-size: 14px;
    font-weight: 300;
}

.boardcard__edit_location{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #fafafa;
    border-radius: 50%;
    z-index: 100;
    margin-left: 190px;
    display: flex;
    align-items: center;
}

.boardcard__edit_icon{
    height: 50%;
    width: 100%;
}

.boardcard__firstPin{
    position:relative;
    margin-top:-10px;
    margin-bottom: 12px;
    height: 150px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
    border: 0.25px solid #f1f1f1;
}

.boardcard__secondPin{
    position:absolute;
    margin-top:60px;
    margin-bottom: 50px;
    margin-left: 60px;
    height: 150px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
    border: 0.25px solid #f1f1f1;
}

.boardcard__thirdPin{
    position:absolute;
    margin-top:120px;
    margin-bottom: 50px;
    margin-left: 120px;
    height: 150px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
    border: 0.25px solid #f1f1f1;
}