.boardcard__container{
    margin: 25px;
    background-color: #F1F1F1;
    height: 180px;
    width: 220px;
    border-radius: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}; 

.boardcard__pins{
    font-size: 11px;
    font-weight: 400;
    color: #464646;
}

.boardcard__edit_location{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #fafafa;
    border-radius: 50%;
    z-index: 100;
    margin-left: 190px;
    display: flex;
    align-items: center;
}

.boardcard__edit_icon{
    height: 50%;
    width: 100%;

}