.header__container {
  height: 60px;
  min-width: 95vw;
  max-width: 95vw;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-top: 2.5px;
  height: 35px;
}

.header__logo_button {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header__searchbar {
  display: flex;
}

.header__searchbar_input{
  width: 50vw;
}