.pincard__container{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.pincard__title{
    position: relative;
    bottom: 20px;
    padding-left: 25px;
}

.pincard__image{
    margin: 25px;
    height: auto;
    width: 300px;
    border-radius: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px;
};

